/* @property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
} */

html {
  scroll-behavior: smooth;
  font-family: "Pacifico", cursive;

  /* background: linear-gradient(to bottom, #030461, #126eb9, #cacaca),
    url(https://grainy-gradients.vercel.app/noise.svg); 

  animation: AnimationName 7s ease infinite;*/
  overflow-x: hidden;
  cursor: url("cursor1.png") 39 39, auto;
  --pointer: url("cursor2.png") 30 30, auto;
}

*:focus {
  outline: none;
}

:root {
  --card-width: 40vw;
  --card-height: 400px;
}
@media only screen and (max-width: 910px) {
  :root {
    --card-width: 90vw;
  }
}
h1 {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.849);
  font-size: calc(1vw + 40px);
}
.input > input {
  cursor: var(--pointer);
  font-size: 30px;
  text-align: center;
  border-radius: 40px;
  height: 70px;

  background-color: rgba(5, 5, 5, 0.034);
  border: 0px solid;
  color: white;
  width: calc(var(--card-width));
  margin-bottom: 20px;
  -moz-appearance: textfield;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #000000ce,
        inset -0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.329);
}
.input > input:hover {
  background-color: #0000001e;
  transition: all 0.3s;
  box-shadow: 0px 0px 10px black;
}
.input > input:focus {
  background-color: #0000003d;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #000000ce,
        inset -0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.329);
  transition: all 0.3s;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button > button {
  margin: 15px;
  font-size: 25px;
  width: calc(var(--card-width) / 2.9);
  height: 60px;
  margin-top: 30px;
  border-radius: 55px;
  background-color: rgba(255, 255, 255, 0.075);
  font-family: "Pacifico", cursive;
  color: #ffffff;
  cursor: var(--pointer);
  border: none;
  box-shadow: 0px 0px 20px black;
}
.button > button:hover {
  background-color: #0000004b;
  color: white;
  transition: all 0.3s;
  box-shadow: 0px 0px 15px black;
}
#tess {
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  color: white;
}
#tes {
  text-align: center;
  font-size: calc(1vw + 20px);
  vertical-align: middle;
  color: white;
  background: rgba(3, 255, 24, 0.055);
  margin: auto;
  width: calc(var(--card-width) / 1.5);
  margin-top: 30px;
  box-shadow: 0px 0px 20px black;
  border-radius: 50px;
}
.alle {
  margin: auto;
}
.card {
  margin-top: 90px;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  text-align: center;
}
